@import url('https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css');

.libre-barcode-128-text-regular {
    font-family: "Libre Barcode 128 Text", system-ui;
    font-weight: 400;
    font-style: normal;
}

.libre-barcode-ean13-text-regular {
    font-family: "Libre Barcode EAN13 Text", system-ui;
    font-weight: 400;
    font-style: normal;
}